@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?rl7ji5');
  src:  url('fonts/icomoon.eot?rl7ji5#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?rl7ji5') format('truetype'),
    url('fonts/icomoon.woff?rl7ji5') format('woff'),
    url('fonts/icomoon.svg?rl7ji5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /** 自己添加 */
  margin-right: 5px;
  width: 24px;
  text-align: center;
  font-size: 18px;
  vertical-align: middle;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-car_check:before {
  content: "\e900";
}
.icon-data_manager:before {
  content: "\e902";
}
.icon-data_report:before {
  content: "\e903";
}
.icon-data_statics:before {
  content: "\e904";
}
.icon-user_manager:before {
  content: "\e905";
}
.icon-wwww:before {
  content: "\1f314";
}
.icon-msg:before {
  content: "\e901";
}
