.icon-new {
    mask-image: url("~@/assets/cms/new.svg");
}
.icon-screen {
    mask-image: url("~@/assets/cms/screen.svg");
}
.icon-query {
    mask-image: url("~@/assets/cms/query.svg");
}
.icon-send {
    mask-image: url("~@/assets/cms/send.svg");
}
.icon-clean {
    mask-image: url("~@/assets/cms/clean.svg");
}
.icon-reset {
    mask-image: url("~@/assets/cms/reset.svg");
}
.icon-resetall {
    mask-image: url("~@/assets/cms/resetall.svg");
}
.icon-add {
    mask-image: url("~@/assets/cms/add.svg");
}
.icon-serve {
    mask-image: url("~@/assets/cms/serve.svg");
}
.icon-computer {
    mask-image: url("~@/assets/cms/computer.svg");
}
.icon-device {
    mask-image: url("~@/assets/cms/device.svg");
}
.icon-insert {
    mask-image: url("~@/assets/cms/insert.svg");
}
.icon-triangle-up {
    mask-image: url("~@/assets/cms/triangle-up.svg");
}
.icon-triangle-down {
    mask-image: url("~@/assets/cms/triangle-down.svg");
}
