.icon-new {
    mask-image: url("./../../../../../../static/img/new.svg");
}
.icon-screen {
    mask-image: url("./../../../../../../static/img/screen.svg");
}
.icon-query {
    mask-image: url("./../../../../../../static/img/query.svg");
}
// .icon-back {

// }
