$outwrap-borderline-color: #ddd;
$header-text-color: rgb(0, 180, 216);
$header-text-color1: rgb(240, 202, 131);
$border-color: rgb(209, 209, 209);
$hc-r: 0;
$hc-g: 180;
$hc-b: 216;
$transition-time: 240ms;

$frame-header: #fff;
$frame-text-color: rgb(26, 26, 26);
$frame-aside: #0077b6;
$frame-aside-1: #00b4d8;
